In [1]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('C:/Users/user/LikeLion_AI/data/CSV/DACON_Parking_Demand/train.csv')
test = pd.read_csv('C:/Users/user/LikeLion_AI/data/CSV/DACON_Parking_Demand/test.csv')
sub = pd.read_csv('C:/Users/user/LikeLion_AI/data/CSV/DACON_Parking_Demand/sample_submission.csv')
age = pd.read_csv('C:/Users/user/LikeLion_AI/data/CSV/DACON_Parking_Demand/age_gender_info.csv')

train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

### 컬럼 확인

In [4]:
train.columns, test.columns

(Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
        '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
        '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
       dtype='object'),
 Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
        '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
        '도보 10분거리 내 버스정류장 수', '단지내주차면수'],
       dtype='object'))

### head 확인

In [6]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

### 범주형 변수 몇 개만 확인

In [10]:
print(train['임대건물구분'].value_counts())
print(train['지역'].value_counts())

아파트    2390
상가      562
Name: 임대건물구분, dtype: int64
경기도        621
경상남도       369
부산광역시      328
대전광역시      266
강원도        187
충청북도       163
충청남도       158
전라남도       151
광주광역시      141
경상북도       119
전라북도       109
대구광역시      102
제주특별자치도     91
서울특별시       64
세종특별자치시     47
울산광역시       36
Name: 지역, dtype: int64

### 라벨 인코딩

In [18]:
from sklearn.preprocessing import LabelEncoder

train_1 = train.copy()

encoder = LabelEncoder()
encoder.fit(train['임대건물구분'])
train_1['임대건물구분'] = encoder.transform(train['임대건물구분'])

encoder.fit(train_1['지역'])
train_1['지역'] = encoder.transform(train['지역'])

encoder.fit(train_1['공급유형'])
train_1['공급유형'] = encoder.transform(train['공급유형'])
train_1['공급유형'].value_counts()

5    1758
7     562
9     213
1     205
6     152
2      31
4      12
8       9
0       7
3       3
Name: 공급유형, dtype: int64

In [19]:
train_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   int32
 3   지역                            2952 non-null   int32
 4   공급유형                          2952 non-null   int32
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int32(3), int64(2), object(4)
memory usage: 311.5+ KB

### 모델 구성 및 예측

In [22]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

sel = ['총세대수', '전용면적', '임대건물구분', '지역', '공급유형', '전용면적별세대수']

X = train_1[sel]
y = train_1['등록차량수']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)
pred

array([ 799.08633276,  924.05373924,  794.49680274,  935.29435669,
        718.886069  ,  -40.64909845,   92.72745026, -173.27894158,
        607.595613  ,  603.29916284,  643.12904528,  653.64852343,
        824.43173629,  833.70696259,  679.90359563,  477.44309924,
        961.89942264,  662.71499712,  290.40876959,  583.54189218,
        -68.83852422,  649.3258386 ,  746.85948506,  713.89769443,
          5.98504325,  694.81509749,  724.33605276,  823.96314359,
        573.98504671,  804.20814317,  690.5973213 , 1073.13714523,
        633.53219335,  551.09738376,  -66.24386857,  603.65296854,
        738.51094684,  676.13676613,  659.17525999, 1291.52770016,
        410.60360652,  486.67777356,   16.84832946,  810.49589012,
        263.36183605,  927.35081293, 1132.87017809,  466.94599463,
        701.89768071,  465.5488566 ,  587.89528498,  616.32229721,
        581.5485822 ,  849.19747352,  503.56396401, 1173.73708338,
        592.69144746, -174.26796326,  724.73473434,  603.4414607 ,
       1295.38626577,  840.88138184,  289.09137738,  497.47190443,
        618.22120134,  706.51722529,  687.9755954 ,  465.64719813,
        998.42873579,  444.21612846,  490.27992008,  558.84694858,
        593.74632253, 1297.24585734,  424.99327194,  619.5462451 ,
        -41.09883876,  -46.95153265,   38.89003936,  182.3375892 ,
        686.39232405,   49.930349  ,  805.55025748, 1027.13410696,
        728.52925513,  533.39013442,  580.55694261,  492.61492886,
        829.10243604,  703.40909542,  379.43660568,  113.28352286,
        630.48331454,  668.26084075,  989.09837928, -102.7729609 ,
       1027.7215535 ,  419.59997401,  790.4540375 ,  472.43756785,
        704.05010152,  407.5004623 , 1167.03209876,  597.90558135,
        474.33638287,  519.67008129, 1183.80518465,  532.00421775,
        359.71536086,  681.08797962,   88.12009418,  600.41206539,
        786.50638116,  726.13058401,   -7.0663225 ,  488.82110771,
        694.2990961 ,  481.35193328, -173.27894158,  489.74814258,
        494.09690136,  763.32279342, -217.46881873,  469.42980232,
        958.14738708,  577.41506871,  933.84002292, -124.27298988,
        518.22920762,  680.81732142,  952.89557234,  545.67109686,
        703.20019416,  735.70911969,  599.82310314,  481.2436017 ,
        722.53970036, 1005.90580034,  873.67586753,   98.09424853,
       1294.96677644,  427.65403153,  786.0990448 ,  582.69047932,
        137.34167606,  823.96314359,  783.97905802,  600.4361702 ,
        387.32223876,  949.67204853,  486.26825148, -104.58073271,
        946.00366428, -124.27298988,  395.49611379,  743.0777085 ,
        952.26727387,  730.75487587,  969.91981311,  731.09433606,
         49.930349  ,  286.05788819,  781.88380122,  482.37585395,
        613.75360177,  315.19761453,  430.12659735,  705.11143485,
        693.75399074,  552.75900187,  426.14941948, 1185.88701424,
        677.92821724,  -40.64909845,  519.22777624,  727.12614422,
        497.49362551,  458.04347924,  625.37497248,  914.23994211,
        372.21713421,  991.82929879,  530.25507274,  652.19397716,
        694.09883375,  119.26259379,  547.48762445,  581.07631562,
        676.82460426, -215.08173553,  581.5865931 ,  587.77872288,
        419.81236611,  686.89764479,   92.44407654,  498.84548467,
        488.8253165 ,  630.14023007, 1044.47358631,  576.50712726,
        946.6958646 , 1061.46306532,  689.92989949,  398.58822003,
        921.53389798,  767.67488501,  685.62776138,  517.51837911,
        692.48145326,  598.0680632 ,  735.12381131,  795.95723442,
       1026.22417727, 1029.26413031,  684.19749635,  529.09692812,
        778.22087704,  131.93004668,  281.24228966, -218.30114356,
        685.31649999,  589.57665653,  379.94943174,  564.23179262,
        796.09605725,  486.23772612,  468.13125938,  684.18269125,
        553.42418035,  629.96764754,  549.81436868, 1363.41929512,
         25.00063576,  495.70215725,  568.97834136,  520.58098737,
        436.31027824,  552.90340896,   38.89003936,  783.89598967,
        281.36235608,  549.94870528,  863.52908914,  489.94840941,
        962.00023635,  100.77437519,   94.86571481,  544.18599652,
       1337.45526568,  668.41457775,   79.07425659,  441.19660663,
        624.32705338, 1394.75271517,  850.46537189,  737.54537126,
        934.00381531,  850.43849705,  536.86053104,  685.06835159,
        436.18794049,  449.68059973,  298.43364198, -168.87921961,
        547.75771999,  692.08144546,  748.906043  ,  684.78471266,
        495.75644723, 1005.76494926,  503.68144639, -216.68940453,
        908.28663957,  470.93729223,  643.90216027,  946.05286846,
        830.99502584,  560.29495137,  841.23267996,  284.72218077,
        954.45804934,  694.61926885,  579.34823572,  540.87149172,
        424.75773538,  614.61177825,  314.59833461, 1021.54676603,
        856.21843053,  506.76950798,  964.23101763,  370.84262302,
        685.6635698 , -155.5029893 ,  481.6404619 , 1085.93645958,
       1289.25623571,  534.35230403,  562.52924387,  427.39980456,
        -35.21965431, 1177.90189727,   55.51038492,  295.83341202,
        410.21864848, -136.99676777,  381.49605001,  493.50279909,
       1049.38496814,  624.72902719,  750.50262181,  719.58992225,
        939.97342561,  367.58569625,  705.00729808,  452.75880579,
       1091.52242785,  -66.15432752,   39.66945357,  474.5142736 ,
        728.07595264,   52.9014841 ,  912.55943835,  698.69008261,
        261.59136513,  453.74783819,  724.786678  ,  381.49605001,
        501.61185105,  697.38827081, -123.88908224,  -59.65690074,
        692.2545532 ,  587.70744961,  726.81027318,  766.84612239,
         -7.0663225 ,  282.67974829,  946.0971744 ,  756.1071058 ,
        486.29971293,  623.13783666,  505.23961468,  462.07559593,
       1181.00024421,  -42.54167081,   49.1427947 ,  282.68788838,
        441.44481158,  361.1579092 ,  793.25072909,  653.83999326,
        852.78933544,  531.80223874,  568.21671005, 1128.79460904,
        544.89855308,  469.23436961,  495.13739491,  486.38831789,
       1104.5972391 , 1080.00921083,  616.77069612,  557.60583275,
       -124.27298988,  521.21900747,  728.07374426,  680.7135352 ,
        911.45551903,  984.22705512,  634.47283527,  952.99700782,
        409.90481517,  783.34494848,   91.65092255,  732.827883  ,
        888.79608269,  957.87178321, 1102.78049059,   88.303308  ,
        497.14273099,  486.43210492,  531.48485364,  208.19152504,
        761.41096754, 1048.19648612,  581.88169446,  379.62628176,
        586.84019804,  -66.01391086,  524.3947697 ,  689.9482147 ,
       -143.18314515, 1419.81674425, -103.4466166 ,   50.01989006,
        533.96053143,  721.34687728, 1393.5566698 ,  589.42761611,
        710.38574603,   49.930349  , 1083.12543666,  550.97232237,
        564.11809138,  827.80410445,  172.6364239 ,  816.44965002,
        184.97898023,  602.5147047 ,  921.28354085,  619.00806199,
        971.92860259,  702.73657492,  464.49832579,  261.47536876,
        237.53916283,  419.38628479, 1007.8050837 ,  834.15869331,
        947.00718539,  987.42863969,  686.5782149 ,  125.42777732,
        632.58645127,  644.58310177,  657.24108693,  984.22705512,
        699.64875697, 1045.02080827, 1180.21384461,  459.04720144,
        -21.30850276,  558.89530794,    4.14180306,  706.29978888,
        692.7425177 ,  723.7148588 ,   86.43399675,  793.54603786,
        616.01500029,  642.49501177,  766.14761328, -124.27298988,
        546.60626217,  935.9039318 , -105.21159016,  157.40164045,
         49.36311639,  789.50741977,  623.48681202,  579.37522695,
        383.64833101, 1128.34381688,  853.69082745,  448.91852523,
        564.36699962,  512.57616606,  733.23028913,  559.97503457,
        705.1519332 ,  185.40138249,  394.79450081,  410.739244  ,
        679.83033477, -143.18314515, 1305.57352705,  770.17218486,
        586.30463389, 1084.20786465,  756.22220796,  688.54634273,
         83.01343058,  992.26995805,  557.14418177,  720.70238014,
        678.08559701,  665.78016619,  -28.07253698,  545.3168353 ,
        652.03215297,   -4.48068305,  752.80631029,  337.25070827,
        540.89593297, -173.27894158,  895.35719128, 1009.55866849,
        480.88825355,  686.840733  ,  406.68691759,   50.16030672,
        755.08086941, 1331.381827  , -124.27298988,   50.16030672,
        688.14168111,  655.19618748, -257.28010365,  509.36199895,
        894.22772542,  261.59136513,  809.92661585,  321.21801687,
        501.23048871,  569.37114004,  589.03147454,  378.74876755,
        -66.29474417,  115.02307228, 1135.73835011,  -26.2160837 ,
        684.17714611,  679.87917534,   90.18163519,  458.04347924,
        550.87702689,  850.415841  ,  737.38046508,  -66.24386857,
         12.32186594,  523.27003362,  724.49240645,  413.88349975,
        694.92622749,  282.95040648,  677.33743032,  469.70860061,
        378.43187403,  562.32716134,  665.43005601,  618.45557253,
        594.39103669,  484.74252394,  606.05562299,  762.30196426,
        -36.88632895,  475.14483617, -218.36422931,  486.37814277,
        472.37298413,  382.44233618,  538.96478829,  543.71962686,
        536.65817863, -171.84424963,  711.65181705,  884.06844261,
        937.60371566, -103.4466166 ,  455.79113666,  607.95318166,
        380.17022309,  843.40046707, -215.65968236,  624.00325402,
        606.3769255 ,  881.42995392,  184.32784271, -108.13184966,
        591.98028333,  533.49588803,    2.87722999, -143.18314515,
        607.76460895,  519.04866541,  591.57555222,  -38.28290411,
        515.16750575,  -66.24386857,  593.98500291,  679.25484486,
        685.31649999,  748.23127728,  651.88470733,  445.56332215,
        651.3200764 ,  419.80002869, 1058.10833873,  563.01737503,
        697.64808882,  435.99101781, -173.27894158, -124.27298988,
        732.74571607,  973.98633423,  890.12316999,  479.2638369 ,
        441.07737876, -173.18940052,   -4.59667942,  483.3594539 ,
        -63.27273348,  574.31336814,  790.26103052,  600.4278904 ,
        512.68317887,  420.51410096,  512.12603997,  611.46453662,
        530.71641754,  750.87815446,  433.91525013,  260.69188451,
        667.04287582,  344.14450604,  551.61051903,   49.930349  ,
        811.19307344,  535.22803551,  672.54032185,  812.45311941,
        790.18510308,  311.78098782,  733.24940736,  406.96026127,
        541.83448264,  497.04104278, 1045.86988718, 1018.75457027,
        634.05033419, 1177.65507911, 1048.92123516,  684.17714611,
        788.81538435,  121.09795677,  281.37049617,  481.68371933,
        688.84040122,   -7.0663225 ,  590.84595549,  197.70568427,
        612.56036889,  758.59202925,  479.43316351,  536.96593038,
        497.13835066,  605.87183329,  727.10134107,  381.0381696 ,
        770.28895992,  463.06707903,  519.54861149,  469.42980232,
        871.94633213,  415.67507575,  682.07047688,  721.35191219,
       -124.27298988,  704.61056291,  846.09832873,  532.74987191,
        691.87412029,  381.0381696 , 1482.62371356,  485.6595977 ,
        717.28410478,  492.98161193,  712.17785667,  679.90359563,
        576.21659674,  477.87567295, 1371.09083266,  831.67126866,
        -66.01391086,  181.03139447,  486.55287219,  281.63301427,
        472.38402881,  684.75133027, 1177.15283689,  494.11733919,
       1052.64403654,  601.25617527,   40.60963467,  600.03701503,
        779.07287984, 1190.90945357,  348.17792368,  609.92155835,
        684.19546133,  606.006038  ,  535.7722858 , -136.99676777,
       -136.99676777,  263.36183605,  649.45300425,  587.73038716,
       1110.73758935,  431.34496928, 1298.3471114 ,  688.71417374,
        783.34494848,  171.5189059 ,  484.82617369,  -67.97363901,
        262.765574  ,  741.13871243,  809.91880794,  583.6251489 ,
        353.85140155,  901.03801853, 1148.4033323 ,  282.66957317,
        494.09690136,  199.66100406,  423.66233786, -117.70270485,
       1177.05807109,   50.16030672,  911.37690359,  546.66303465,
        636.87453268,  541.15773373,  635.43773832,  666.32933344,
        439.81095999,  490.81986562,  517.80545051, 1122.8537732 ,
        699.36853456,   90.97529456,  564.72036228,  501.9049691 ,
        426.72473989,  762.28656861,  435.28190327,  581.71790123,
        -32.69560024,  812.481696  ,  647.24119951,  489.76849282,
        683.48673671,  632.18492194,  969.69162105,  379.43660568,
        286.03957297,  492.55392226])

### 모델 평가

In [24]:
MAE = abs(y_test - pred).sum() / len(y_test)
MSE = ((y_test - pred)**2).sum() / len(y_test)
RMSE = np.sqrt(((y_test - pred)**2).sum() / len(y_test))

print('MAE : {:.3f}, MSE : {:.3f}, RMSE : {:.3f}'.format(MAE, MSE, RMSE))

MAE : 208.006, MSE : 80842.770, RMSE : 284.329

### 계속 진행중 ...