In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [2]:
train = pd.read_csv('C:/Users/user/LikeLion_AI/DACON/Parking_demand/CSV/train.csv')
test = pd.read_csv('C:/Users/user/LikeLion_AI/DACON/Parking_demand/CSV/test.csv')
sub = pd.read_csv('C:/Users/user/LikeLion_AI/DACON/Parking_demand/CSV/sample_submission.csv')
age = pd.read_csv('C:/Users/user/LikeLion_AI/DACON/Parking_demand/CSV/age_gender_info.csv')

train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

In [3]:
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

(None, None)

In [4]:
train.isnull().sum(), test.isnull().sum()

(단지코드                              0
 총세대수                              0
 임대건물구분                            0
 지역                                0
 공급유형                              0
 전용면적                              0
 전용면적별세대수                          0
 공가수                               0
 자격유형                              0
 임대보증금                           569
 임대료                             569
 도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
 도보 10분거리 내 버스정류장 수                4
 단지내주차면수                           0
 등록차량수                             0
 dtype: int64,
 단지코드                              0
 총세대수                              0
 임대건물구분                            0
 지역                                0
 공급유형                              0
 전용면적                              0
 전용면적별세대수                          0
 공가수                               0
 자격유형                              2
 임대보증금                           180
 임대료                             180
 도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
 도보 10분거리 내 버스정류장 수                0
 단지내주차면수                           0
 dtype: int64)

train1, test1 : 전용 면적 당 임대보증금과 임대료를 예측하기 위한 DataFrame

#### 그리고 오류가 있는 단지코드를 모두 삭제

In [5]:
train1 = train.copy()

drop_danji = ['C2085', 'C1397', 'C2431', 'C1649', 'C1036', 
              'C1095', 'C2051', 'C1218', 'C1894', 'C2483', 'C1502', 'C1988']    # 총 12개


print(len(train1['단지코드'].unique()))   # drop 이전 : 423
for code in drop_danji:
    train1 = train1[train1['단지코드'] != code]

print(len(train1['단지코드'].unique()))   # drop 이후 : 411
print()

print((train1[train1['임대건물구분']=='아파트']['임대료'] == '-').sum())
print(train1[train1['임대건물구분']=='아파트']['임대료'].isna().sum())

print((train1[train1['임대건물구분']=='상가']['임대료'] == '-').sum())
print(train1[train1['임대건물구분']=='상가']['임대료'].isna().sum())

423
411

15
7
0
562

In [6]:
test1 = test.copy()

# test_drop = ['C2675', 'C2335', 'C1327']

# for code in test_drop:
#     test1 = test1[test1['단지코드'] != code]
    
print((test1[test1['임대건물구분']=='아파트']['임대료'] == '-').sum())
print(test1[test1['임대건물구분']=='아파트']['임대료'].isna().sum())

print((test1[test1['임대건물구분']=='상가']['임대료'] == '-').sum())
print(test1[test1['임대건물구분']=='상가']['임대료'].isna().sum())

6
3
0
177

### 단지 별 임대료 결측치

In [7]:
danji = train['단지코드'].value_counts().index
danji_list = []

for code in danji:
    null_sum = train1[train1['단지코드']==code]['임대료'].isnull().sum() 
    null_sum += (train1[train1['단지코드']==code]['임대료'] == '-').sum()
    if null_sum:
        danji_list.append(code)
        print(f"{code}의 갯수 = {len(train1[train1['단지코드']==code])}")
        print(f'{code}의 임대료 결측치 갯수 = {null_sum}')
        print(train1[train1['단지코드']==code]['임대건물구분'].value_counts())
        print()

C1439의 갯수 = 48
C1439의 임대료 결측치 갯수 = 45
상가     45
아파트     3
Name: 임대건물구분, dtype: int64

C2132의 갯수 = 47
C2132의 임대료 결측치 갯수 = 43
상가     43
아파트     4
Name: 임대건물구분, dtype: int64

C1859의 갯수 = 40
C1859의 임대료 결측치 갯수 = 35
상가     35
아파트     5
Name: 임대건물구분, dtype: int64

C1790의 갯수 = 33
C1790의 임대료 결측치 갯수 = 30
상가     30
아파트     3
Name: 임대건물구분, dtype: int64

C2597의 갯수 = 32
C2597의 임대료 결측치 갯수 = 29
상가     29
아파트     3
Name: 임대건물구분, dtype: int64

C1874의 갯수 = 30
C1874의 임대료 결측치 갯수 = 27
상가     27
아파트     3
Name: 임대건물구분, dtype: int64

C2034의 갯수 = 29
C2034의 임대료 결측치 갯수 = 26
상가     26
아파트     3
Name: 임대건물구분, dtype: int64

C2289의 갯수 = 24
C2289의 임대료 결측치 갯수 = 20
상가     20
아파트     4
Name: 임대건물구분, dtype: int64

C2310의 갯수 = 23
C2310의 임대료 결측치 갯수 = 20
상가     20
아파트     3
Name: 임대건물구분, dtype: int64

C1109의 갯수 = 22
C1109의 임대료 결측치 갯수 = 20
상가     20
아파트     2
Name: 임대건물구분, dtype: int64

C1616의 갯수 = 22
C1616의 임대료 결측치 갯수 = 19
상가     19
아파트     3
Name: 임대건물구분, dtype: int64

C1875의 갯수 = 22
C1875의 임대료 결측치 갯수 = 19
상가     19
아파트     3
Name: 임대건물구분, dtype: int64

C2190의 갯수 = 21
C2190의 임대료 결측치 갯수 = 17
상가     17
아파트     4
Name: 임대건물구분, dtype: int64

C2038의 갯수 = 20
C2038의 임대료 결측치 갯수 = 17
상가     17
아파트     3
Name: 임대건물구분, dtype: int64

C2135의 갯수 = 20
C2135의 임대료 결측치 갯수 = 17
상가     17
아파트     3
Name: 임대건물구분, dtype: int64

C2258의 갯수 = 20
C2258의 임대료 결측치 갯수 = 17
상가     17
아파트     3
Name: 임대건물구분, dtype: int64

C1004의 갯수 = 19
C1004의 임대료 결측치 갯수 = 17
상가     17
아파트     2
Name: 임대건물구분, dtype: int64

C2621의 갯수 = 18
C2621의 임대료 결측치 갯수 = 10
상가     10
아파트     8
Name: 임대건물구분, dtype: int64

C2109의 갯수 = 17
C2109의 임대료 결측치 갯수 = 15
상가     15
아파트     2
Name: 임대건물구분, dtype: int64

C1775의 갯수 = 17
C1775의 임대료 결측치 갯수 = 15
상가     15
아파트     2
Name: 임대건물구분, dtype: int64

C1704의 갯수 = 17
C1704의 임대료 결측치 갯수 = 15
상가     15
아파트     2
Name: 임대건물구분, dtype: int64

C1983의 갯수 = 15
C1983의 임대료 결측치 갯수 = 10
상가     10
아파트     5
Name: 임대건물구분, dtype: int64

C2571의 갯수 = 14
C2571의 임대료 결측치 갯수 = 13
상가     13
아파트     1
Name: 임대건물구분, dtype: int64

C2212의 갯수 = 14
C2212의 임대료 결측치 갯수 = 11
상가     11
아파트     3
Name: 임대건물구분, dtype: int64

C1350의 갯수 = 13
C1350의 임대료 결측치 갯수 = 7
아파트    13
Name: 임대건물구분, dtype: int64

C1056의 갯수 = 12
C1056의 임대료 결측치 갯수 = 10
상가     10
아파트     2
Name: 임대건물구분, dtype: int64

C1206의 갯수 = 12
C1206의 임대료 결측치 갯수 = 10
상가     10
아파트     2
Name: 임대건물구분, dtype: int64

C1722의 갯수 = 11
C1722의 임대료 결측치 갯수 = 6
상가     6
아파트    5
Name: 임대건물구분, dtype: int64

C1039의 갯수 = 11
C1039의 임대료 결측치 갯수 = 3
아파트    11
Name: 임대건물구분, dtype: int64

C2416의 갯수 = 10
C2416의 임대료 결측치 갯수 = 8
상가     8
아파트    2
Name: 임대건물구분, dtype: int64

C1476의 갯수 = 8
C1476의 임대료 결측치 갯수 = 6
상가     6
아파트    2
Name: 임대건물구분, dtype: int64

C1698의 갯수 = 8
C1698의 임대료 결측치 갯수 = 4
상가     4
아파트    4
Name: 임대건물구분, dtype: int64

C2644의 갯수 = 7
C2644의 임대료 결측치 갯수 = 3
아파트    4
상가     3
Name: 임대건물구분, dtype: int64

C1925의 갯수 = 6
C1925의 임대료 결측치 갯수 = 4
상가     4
아파트    2
Name: 임대건물구분, dtype: int64

C2186의 갯수 = 6
C2186의 임대료 결측치 갯수 = 3
아파트    6
Name: 임대건물구분, dtype: int64

C1899의 갯수 = 6
C1899의 임대료 결측치 갯수 = 4
상가     4
아파트    2
Name: 임대건물구분, dtype: int64

C1326의 갯수 = 5
C1326의 임대료 결측치 갯수 = 5
아파트    5
Name: 임대건물구분, dtype: int64

C1786의 갯수 = 5
C1786의 임대료 결측치 갯수 = 4
아파트    5
Name: 임대건물구분, dtype: int64

In [8]:
danji = test['단지코드'].value_counts().index
test_danji = []

for code in danji:
    null_sum = test1[test1['단지코드']==code]['임대료'].isnull().sum() 
    null_sum += (test1[test1['단지코드']==code]['임대료'] == '-').sum()
    if null_sum:
        test_danji.append(code)
        print(f"{code}의 갯수 = {len(test1[test1['단지코드']==code])}")
        print(f'{code}의 임대료 결측치 갯수 = {null_sum}')
        print(test1[test1['단지코드']==code]['임대건물구분'].value_counts())
        print()

C2676의 갯수 = 46
C2676의 임대료 결측치 갯수 = 43
상가     43
아파트     3
Name: 임대건물구분, dtype: int64

C2253의 갯수 = 31
C2253의 임대료 결측치 갯수 = 28
상가     28
아파트     3
Name: 임대건물구분, dtype: int64

C1006의 갯수 = 27
C1006의 임대료 결측치 갯수 = 23
상가     20
아파트     7
Name: 임대건물구분, dtype: int64

C1812의 갯수 = 27
C1812의 임대료 결측치 갯수 = 25
상가     25
아파트     2
Name: 임대건물구분, dtype: int64

C1729의 갯수 = 25
C1729의 임대료 결측치 갯수 = 17
상가     17
아파트     8
Name: 임대건물구분, dtype: int64

C2033의 갯수 = 25
C2033의 임대료 결측치 갯수 = 22
상가     22
아파트     3
Name: 임대건물구분, dtype: int64

C2177의 갯수 = 25
C2177의 임대료 결측치 갯수 = 22
상가     22
아파트     3
Name: 임대건물구분, dtype: int64

C1267의 갯수 = 11
C1267의 임대료 결측치 갯수 = 4
아파트    11
Name: 임대건물구분, dtype: int64

C2152의 갯수 = 2
C2152의 임대료 결측치 갯수 = 2
아파트    2
Name: 임대건물구분, dtype: int64

In [9]:
test_danji

['C2676',
 'C2253',
 'C1006',
 'C1812',
 'C1729',
 'C2033',
 'C2177',
 'C1267',
 'C2152']

#### 결측치가 전체의 과반수를 차지하고 있는 상황이 대부분.. 어떻게 처리해야할까?

1. 우선 다 삭제하고 해본다.

2. 과반수 이하가 있는 곳만 평균값으로 살린다.

3. 전용면적을 비율로 임대료를 각각 계산한다.

4. 시세를 예측해서 진행해본다.

#### -> 뭔가 3번이 제일 끌리니까 3번으로 바로 해보자!

15평 -> 500/25(기준) 

100평 -> 3000/120(번화가) >> 임대아파트

400평 -> 10000/400(예상)

In [10]:
train1.loc[(train1['임대건물구분']=='상가')]['임대보증금'].value_counts()

Series([], Name: 임대보증금, dtype: int64)

#### 단지 별로 임대건물구분, 공급유형, 전용면적, 전용면적별세대수, 자격유형, 임대보증급, 임대료 빼고 다 똑같구나..

#### 모든 상가의 임대료와 임대보증금 데이터가 결측치구나

#### 공가수 : 데이터 수집 당시 임차되고 있지 않은 빈 집

In [10]:
## 임대보증금과 임대료의 NaN 값과 - 값을 0으로 변환
train1.loc[train1['임대보증금'].isna(), '임대보증금'] = '0'
train1.loc[train1['임대료'].isna(), '임대료'] = '0'

train1.loc[train1['임대보증금']=='-', '임대보증금'] = '0'
train1.loc[train1['임대료']=='-', '임대료'] = '0'

train1['임대보증금'] = train1['임대보증금'].astype('float')
train1['임대료'] = train1['임대료'].astype('float')
train1 = train1.reset_index()

train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         2869 non-null   int64
 1   단지코드                          2869 non-null   object
 2   총세대수                          2869 non-null   int64
 3   임대건물구분                        2869 non-null   object
 4   지역                            2869 non-null   object
 5   공급유형                          2869 non-null   object
 6   전용면적                          2869 non-null   float64
 7   전용면적별세대수                      2869 non-null   int64
 8   공가수                           2869 non-null   float64
 9   자격유형                          2869 non-null   object
 10  임대보증금                         2869 non-null   float64
 11  임대료                           2869 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2662 non-null   float64
 13  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 14  단지내주차면수                       2869 non-null   float64
 15  등록차량수                         2869 non-null   float64
dtypes: float64(8), int64(3), object(5)
memory usage: 358.8+ KB

In [11]:
## 임대보증금과 임대료의 NaN 값과 - 값을 0으로 변환
test1.loc[test1['임대보증금'].isna(), '임대보증금'] = '0'
test1.loc[test1['임대료'].isna(), '임대료'] = '0'

test1.loc[test1['임대보증금']=='-', '임대보증금'] = '0'
test1.loc[test1['임대료']=='-', '임대료'] = '0'

test1['임대보증금'] = test1['임대보증금'].astype('float')
test1['임대료'] = test1['임대료'].astype('float')
test1 = test1.reset_index()

test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         1022 non-null   int64
 1   단지코드                          1022 non-null   object
 2   총세대수                          1022 non-null   int64
 3   임대건물구분                        1022 non-null   object
 4   지역                            1022 non-null   object
 5   공급유형                          1022 non-null   object
 6   전용면적                          1022 non-null   float64
 7   전용면적별세대수                      1022 non-null   int64
 8   공가수                           1022 non-null   float64
 9   자격유형                          1020 non-null   object
 10  임대보증금                         1022 non-null   float64
 11  임대료                           1022 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 13  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 14  단지내주차면수                       1022 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 119.9+ KB

### train

In [12]:
## 임대료에 결측치가 포함된 단지코드와 단위 면적당 임대료 및 임대보증금의 평균을 rent_dict에 저장
rent_dict = {}

for code in danji_list:
    temp_data = train1.loc[train1['단지코드']==code, :]
    for i in temp_data.index:
        if temp_data.loc[i, '임대료']:   # 임대료가 NaN이 아닌 경우
            deposit_list = []
            rental_list = []
            
            area = temp_data.loc[i, '전용면적']
            deposit = int(temp_data.loc[i, '임대보증금'])
            rental = int(temp_data.loc[i, '임대료'])
            
            deposit_list.append(1/area*deposit)
            rental_list.append(1/area*rental)
            
            deposit_mean = round(np.mean(deposit_list), 3)
            rental_mean = round(np.mean(rental_list), 3)
            
            rent_dict[code] = [deposit_mean, rental_mean]

In [13]:
rent_dict

{'C1439': [219444.444, 3032.986],
 'C2132': [148339.719, 2550.766],
 'C1859': [219453.925, 3032.992],
 'C1790': [119125.16, 2650.702],
 'C2597': [219444.444, 3032.886],
 'C1874': [119125.16, 2650.702],
 'C2034': [341379.31, 4395.275],
 'C2289': [219444.444, 3032.886],
 'C2310': [219444.444, 3032.886],
 'C1109': [219444.444, 3032.886],
 'C1616': [1340277.778, 697.917],
 'C1875': [119125.16, 2650.702],
 'C2190': [119125.16, 2650.702],
 'C2038': [219444.444, 3032.986],
 'C2135': [341379.31, 4395.275],
 'C2258': [219444.444, 3032.986],
 'C1004': [119123.205, 2650.794],
 'C2621': [219453.925, 3032.992],
 'C2109': [119127.297, 2650.919],
 'C1775': [152919.948, 2838.911],
 'C1704': [219450.743, 3032.754],
 'C1983': [308748.404, 4560.983],
 'C2571': [115889.268, 2578.688],
 'C2212': [152905.492, 2838.761],
 'C1350': [1059763.017, 2544.726],
 'C1056': [119127.297, 2650.919],
 'C1206': [119125.16, 2650.702],
 'C1722': [281385.696, 4410.281],
 'C1039': [430776.201, 3552.401],
 'C2416': [119127.297, 2650.919],
 'C1476': [295689.655, 4342.273],
 'C1698': [326580.35, 4113.481],
 'C2644': [329313.614, 4841.487],
 'C1925': [292911.877, 4612.388],
 'C2186': [496006.029, 4001.13],
 'C1899': [280172.414, 4125.16],
 'C1786': [827959.902, 3932.81]}

In [14]:
train1.loc[train1['임대료']==0, :]

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
80,88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,0.0,0.0,0.0,4.0,117.0,75.0
81,89,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,0.0,0.0,0.0,4.0,117.0,75.0
82,90,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,0.0,0.0,0.0,4.0,117.0,75.0
83,91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,0.0,0.0,0.0,4.0,117.0,75.0
93,101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,0.0,0.0,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,0.0,0.0,0.0,3.0,338.0,345.0
2611,2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,0.0,0.0,0.0,3.0,338.0,345.0
2823,2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,0.0,0.0,0.0,8.0,664.0,744.0
2824,2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,0.0,0.0,0.0,8.0,664.0,744.0
2825,2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,0.0,0.0,0.0,8.0,664.0,744.0

In [111]:
pd.set_option('display.max_rows', None)
grouped = train1.groupby(['임대건물구분', '지역', '공급유형'])
grouped.get_group(('아파트', '부산광역시', '국민임대'))

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
120,128,C2650,875,아파트,부산광역시,국민임대,36.44,557,13.0,A,11492000.0,104930.0,0.0,4.0,616.0,159.0
121,129,C2650,875,아파트,부산광역시,국민임대,45.09,20,13.0,A,14215000.0,141630.0,0.0,4.0,616.0,159.0
122,130,C2650,875,아파트,부산광역시,국민임대,45.32,298,13.0,A,14292000.0,141630.0,0.0,4.0,616.0,159.0
512,520,C1672,1350,아파트,부산광역시,국민임대,51.88,886,15.0,A,17417000.0,213320.0,0.0,1.0,1043.0,873.0
513,521,C1672,1350,아파트,부산광역시,국민임대,59.63,464,15.0,A,20018000.0,246330.0,0.0,1.0,1043.0,873.0
609,617,C1613,840,아파트,부산광역시,국민임대,51.49,220,7.0,A,20163000.0,255200.0,1.0,1.0,594.0,498.0
610,618,C1613,840,아파트,부산광역시,국민임대,51.95,454,7.0,A,20345000.0,257630.0,1.0,1.0,594.0,498.0
611,619,C1613,840,아파트,부산광역시,국민임대,59.64,166,7.0,A,23355000.0,298290.0,1.0,1.0,594.0,498.0
660,668,C1430,1533,아파트,부산광역시,국민임대,51.77,223,32.0,A,25966000.0,144800.0,0.0,3.0,1296.0,839.0
661,669,C1430,1533,아파트,부산광역시,국민임대,51.86,258,32.0,A,27465000.0,156030.0,0.0,3.0,1296.0,839.0
662,670,C1430,1533,아파트,부산광역시,국민임대,59.57,446,32.0,A,36205000.0,215950.0,0.0,3.0,1296.0,839.0
663,671,C1430,1533,아파트,부산광역시,국민임대,59.99,606,32.0,A,36205000.0,215950.0,0.0,3.0,1296.0,839.0
922,930,C1015,961,아파트,부산광역시,국민임대,36.66,340,28.0,A,9811000.0,87710.0,0.0,3.0,928.0,579.0
923,931,C1015,961,아파트,부산광역시,국민임대,36.66,56,28.0,A,9811000.0,87710.0,0.0,3.0,928.0,579.0
924,932,C1015,961,아파트,부산광역시,국민임대,36.94,79,28.0,A,9811000.0,87710.0,0.0,3.0,928.0,579.0
925,933,C1015,961,아파트,부산광역시,국민임대,46.03,40,28.0,A,15583000.0,140810.0,0.0,3.0,928.0,579.0
926,934,C1015,961,아파트,부산광역시,국민임대,46.46,245,28.0,A,15583000.0,140810.0,0.0,3.0,928.0,579.0
927,935,C1015,961,아파트,부산광역시,국민임대,46.46,95,28.0,A,15583000.0,140810.0,0.0,3.0,928.0,579.0
928,936,C1015,961,아파트,부산광역시,국민임대,59.48,88,28.0,A,25394000.0,201990.0,0.0,3.0,928.0,579.0
929,937,C1015,961,아파트,부산광역시,국민임대,59.69,18,28.0,A,25394000.0,201990.0,0.0,3.0,928.0,579.0
1009,1017,C2666,1084,아파트,부산광역시,국민임대,39.74,178,23.0,A,16723000.0,115180.0,0.0,1.0,837.0,701.0
1010,1018,C2666,1084,아파트,부산광역시,국민임대,39.96,254,23.0,A,16723000.0,115180.0,0.0,1.0,837.0,701.0
1011,1019,C2666,1084,아파트,부산광역시,국민임대,39.96,26,23.0,A,16723000.0,115180.0,0.0,1.0,837.0,701.0
1012,1020,C2666,1084,아파트,부산광역시,국민임대,46.56,165,23.0,A,21058000.0,151110.0,0.0,1.0,837.0,701.0
1013,1021,C2666,1084,아파트,부산광역시,국민임대,46.56,289,23.0,A,21058000.0,151110.0,0.0,1.0,837.0,701.0
1014,1022,C2666,1084,아파트,부산광역시,국민임대,46.77,172,23.0,A,21058000.0,151110.0,0.0,1.0,837.0,701.0
1224,1236,C1329,1002,아파트,부산광역시,국민임대,39.72,122,30.0,A,15859000.0,110530.0,0.0,2.0,775.0,554.0
1225,1237,C1329,1002,아파트,부산광역시,국민임대,39.72,26,30.0,A,15859000.0,110530.0,0.0,2.0,775.0,554.0
1226,1238,C1329,1002,아파트,부산광역시,국민임대,39.77,238,30.0,A,15859000.0,110530.0,0.0,2.0,775.0,554.0
1227,1239,C1329,1002,아파트,부산광역시,국민임대,46.90,276,30.0,A,19343000.0,144180.0,0.0,2.0,775.0,554.0
1228,1240,C1329,1002,아파트,부산광역시,국민임대,46.90,52,30.0,A,19343000.0,144180.0,0.0,2.0,775.0,554.0
1229,1241,C1329,1002,아파트,부산광역시,국민임대,46.90,180,30.0,A,19343000.0,144180.0,0.0,2.0,775.0,554.0
1230,1242,C1329,1002,아파트,부산광역시,국민임대,51.93,84,30.0,A,25233000.0,179040.0,0.0,2.0,775.0,554.0
1231,1243,C1329,1002,아파트,부산광역시,국민임대,51.93,24,30.0,A,25233000.0,179040.0,0.0,2.0,775.0,554.0
1305,1317,C1911,890,아파트,부산광역시,국민임대,51.77,250,21.0,A,28491000.0,235360.0,1.0,2.0,985.0,831.0
1306,1318,C1911,890,아파트,부산광역시,국민임대,51.77,25,21.0,A,28491000.0,235360.0,1.0,2.0,985.0,831.0
1307,1319,C1911,890,아파트,부산광역시,국민임대,51.77,147,21.0,A,28491000.0,235360.0,1.0,2.0,985.0,831.0
1308,1320,C1911,890,아파트,부산광역시,국민임대,51.93,24,21.0,A,28491000.0,235360.0,1.0,2.0,985.0,831.0
1309,1321,C1911,890,아파트,부산광역시,국민임대,51.93,144,21.0,A,28491000.0,235360.0,1.0,2.0,985.0,831.0
1310,1322,C1911,890,아파트,부산광역시,국민임대,59.47,300,21.0,A,35924000.0,286150.0,1.0,2.0,985.0,831.0
2000,2021,C2357,533,아파트,부산광역시,국민임대,33.51,99,25.0,G,10500000.0,259350.0,1.0,2.0,484.0,345.0
2001,2022,C2357,533,아파트,부산광역시,국민임대,39.64,66,25.0,A,27090000.0,309750.0,1.0,2.0,484.0,345.0
2002,2023,C2357,533,아파트,부산광역시,국민임대,39.86,99,25.0,A,27090000.0,309750.0,1.0,2.0,484.0,345.0
2003,2024,C2357,533,아파트,부산광역시,국민임대,46.21,66,25.0,A,37485000.0,370650.0,1.0,2.0,484.0,345.0
2004,2025,C2357,533,아파트,부산광역시,국민임대,46.98,38,25.0,A,37485000.0,370650.0,1.0,2.0,484.0,345.0
2005,2026,C2357,533,아파트,부산광역시,국민임대,51.30,165,25.0,E,194080000.0,101080.0,1.0,2.0,484.0,345.0
2037,2064,C1987,291,아파트,부산광역시,국민임대,46.53,31,26.0,A,44387000.0,368980.0,3.0,4.0,257.0,166.0
2038,2065,C1987,291,아파트,부산광역시,국민임대,46.53,128,26.0,A,44387000.0,368980.0,3.0,4.0,257.0,166.0
2039,2066,C1987,291,아파트,부산광역시,국민임대,46.53,35,26.0,A,44387000.0,368980.0,3.0,4.0,257.0,166.0
2040,2067,C1987,291,아파트,부산광역시,국민임대,46.53,6,26.0,A,44387000.0,368980.0,3.0,4.0,257.0,166.0
2041,2068,C1987,291,아파트,부산광역시,국민임대,51.55,19,26.0,A,50775000.0,422950.0,3.0,4.0,257.0,166.0
2042,2069,C1987,291,아파트,부산광역시,국민임대,51.55,72,26.0,A,50775000.0,422950.0,3.0,4.0,257.0,166.0
2108,2135,C2489,1128,아파트,부산광역시,국민임대,46.72,410,36.0,A,21096000.0,261410.0,0.0,4.0,951.0,950.0
2109,2136,C2489,1128,아파트,부산광역시,국민임대,51.56,488,36.0,A,23733000.0,285500.0,0.0,4.0,951.0,950.0
2110,2137,C2489,1128,아파트,부산광역시,국민임대,59.94,230,36.0,A,27746000.0,327920.0,0.0,4.0,951.0,950.0
2177,2212,C1338,622,아파트,부산광역시,국민임대,41.83,98,13.0,A,23281000.0,193460.0,1.0,3.0,551.0,551.0
2178,2213,C1338,622,아파트,부산광역시,국민임대,41.83,28,13.0,A,23281000.0,193460.0,1.0,3.0,551.0,551.0
2179,2214,C1338,622,아파트,부산광역시,국민임대,41.94,108,13.0,A,23281000.0,193460.0,1.0,3.0,551.0,551.0
2180,2215,C1338,622,아파트,부산광역시,국민임대,41.97,92,13.0,A,23281000.0,193460.0,1.0,3.0,551.0,551.0
2181,2216,C1338,622,아파트,부산광역시,국민임대,46.90,14,13.0,A,28856000.0,241560.0,1.0,3.0,551.0,551.0
2182,2217,C1338,622,아파트,부산광역시,국민임대,46.90,14,13.0,A,28856000.0,241560.0,1.0,3.0,551.0,551.0
2183,2218,C1338,622,아파트,부산광역시,국민임대,46.95,100,13.0,A,28856000.0,241560.0,1.0,3.0,551.0,551.0
2184,2219,C1338,622,아파트,부산광역시,국민임대,46.95,50,13.0,A,28856000.0,241560.0,1.0,3.0,551.0,551.0
2185,2220,C1338,622,아파트,부산광역시,국민임대,51.93,80,13.0,A,35196000.0,292930.0,1.0,3.0,551.0,551.0
2186,2221,C1338,622,아파트,부산광역시,국민임대,51.93,38,13.0,A,35196000.0,292930.0,1.0,3.0,551.0,551.0
2395,2467,C1757,794,아파트,부산광역시,국민임대,33.38,260,13.0,A,15927000.0,206110.0,2.0,4.0,676.0,508.0
2396,2468,C1757,794,아파트,부산광역시,국민임대,39.46,332,13.0,A,27066000.0,249840.0,2.0,4.0,676.0,508.0
2397,2469,C1757,794,아파트,부산광역시,국민임대,46.17,44,13.0,A,37163000.0,305010.0,2.0,4.0,676.0,508.0
2398,2470,C1757,794,아파트,부산광역시,국민임대,46.80,158,13.0,A,37163000.0,305010.0,2.0,4.0,676.0,508.0
2475,2547,C1326,1934,아파트,부산광역시,국민임대,24.72,472,43.0,H,0.0,0.0,0.0,4.0,1670.0,1153.0
2476,2548,C1326,1934,아파트,부산광역시,국민임대,24.79,104,43.0,H,0.0,0.0,0.0,4.0,1670.0,1153.0
2477,2549,C1326,1934,아파트,부산광역시,국민임대,26.83,590,43.0,H,0.0,0.0,0.0,4.0,1670.0,1153.0
2478,2550,C1326,1934,아파트,부산광역시,국민임대,37.70,464,43.0,H,0.0,0.0,0.0,4.0,1670.0,1153.0
2479,2551,C1326,1934,아파트,부산광역시,국민임대,46.94,304,43.0,H,0.0,0.0,0.0,4.0,1670.0,1153.0

In [15]:
## C1326과 사정이 가장 비슷한 C1430의 전용면적당 임대료와 임대보증금을 가져오기로 함.
rent_dict['C1326'] = [560613.289, 3257.644]
rent_dict

{'C1439': [219444.444, 3032.986],
 'C2132': [148339.719, 2550.766],
 'C1859': [219453.925, 3032.992],
 'C1790': [119125.16, 2650.702],
 'C2597': [219444.444, 3032.886],
 'C1874': [119125.16, 2650.702],
 'C2034': [341379.31, 4395.275],
 'C2289': [219444.444, 3032.886],
 'C2310': [219444.444, 3032.886],
 'C1109': [219444.444, 3032.886],
 'C1616': [1340277.778, 697.917],
 'C1875': [119125.16, 2650.702],
 'C2190': [119125.16, 2650.702],
 'C2038': [219444.444, 3032.986],
 'C2135': [341379.31, 4395.275],
 'C2258': [219444.444, 3032.986],
 'C1004': [119123.205, 2650.794],
 'C2621': [219453.925, 3032.992],
 'C2109': [119127.297, 2650.919],
 'C1775': [152919.948, 2838.911],
 'C1704': [219450.743, 3032.754],
 'C1983': [308748.404, 4560.983],
 'C2571': [115889.268, 2578.688],
 'C2212': [152905.492, 2838.761],
 'C1350': [1059763.017, 2544.726],
 'C1056': [119127.297, 2650.919],
 'C1206': [119125.16, 2650.702],
 'C1722': [281385.696, 4410.281],
 'C1039': [430776.201, 3552.401],
 'C2416': [119127.297, 2650.919],
 'C1476': [295689.655, 4342.273],
 'C1698': [326580.35, 4113.481],
 'C2644': [329313.614, 4841.487],
 'C1925': [292911.877, 4612.388],
 'C2186': [496006.029, 4001.13],
 'C1899': [280172.414, 4125.16],
 'C1786': [827959.902, 3932.81],
 'C1326': [560613.289, 3257.644]}

### test

In [16]:
## 임대료에 결측치가 포함된 단지코드와 단위 면적당 임대료 및 임대보증금의 평균을 test_rent에 저장
test_rent = {}

for code in test_danji:
    temp_data = test1.loc[test1['단지코드']==code, :]
    for i in temp_data.index:
        if temp_data.loc[i, '임대료']:   # 임대료가 NaN이 아닌 경우
            deposit_list = []
            rental_list = []
            
            area = temp_data.loc[i, '전용면적']
            deposit = int(temp_data.loc[i, '임대보증금'])
            rental = int(temp_data.loc[i, '임대료'])
            
            deposit_list.append(1/area*deposit)
            rental_list.append(1/area*rental)
            
            deposit_mean = round(np.mean(deposit_list), 3)
            rental_mean = round(np.mean(rental_list), 3)
            
            test_rent[code] = [deposit_mean, rental_mean]

In [17]:
## C2152단지는 아파트 2개가 끝이고 둘다 결측치라 같은 강원도이고 영구임대인 아파트단지(C1729)의 값을 가져오기로 함
test_rent['C2152'] = [152919.021, 2838.983]
test_rent

{'C2676': [219444.444, 3032.886],
 'C2253': [119125.16, 2650.702],
 'C1006': [219444.444, 3032.886],
 'C1812': [148754.789, 2761.814],
 'C1729': [152919.021, 2838.983],
 'C2033': [152901.024, 2838.832],
 'C2177': [119125.16, 2650.702],
 'C1267': [475765.529, 3903.325],
 'C2152': [152919.021, 2838.983]}

```python
for code, value in rent_dict.items():
    temp_data = train1.loc[train1['단지코드']==code, :]
    for i in temp_data.index:
        if not temp_data.loc[i, '임대료']:   # 임대료가 빈 경우
            temp_data['임대보증금'] = value[0] * temp_data.loc[i, '전용면적']
            temp_data['임대료'] = value[1] * temp_data.loc[i, '전용면적']
```

DataFrame 접근방식이 틀려서 이렇게 변경이 안되는듯

### train

In [25]:
## 결측치가 포함된 단지코드의 단위면적당 임대료/임대보증금과 전용면적을 곱한 값을 기존의 임대보증금과 임대료의 수치에 덮어씌움
for code, value in rent_dict.items():
    train1.loc[train1['단지코드']==code, '임대보증금'] = value[0] * train1.loc[train1['단지코드']==code]['전용면적']
    train1.loc[train1['단지코드']==code, '임대료'] = value[1] * train1.loc[train1['단지코드']==code]['전용면적']

In [26]:
## 상가는 아파트와 시세가 다르기 때문에 같은 면적 대비 임대보증금을 1.2배 해주고 임대료를 10배 해준다.
for code in rent_dict.keys():
    train1.loc[(train1['단지코드']==code) & (train1['임대건물구분']=='상가'), '임대보증금']\
    = train1.loc[(train1['단지코드']==code) & (train1['임대건물구분']=='상가')]['임대보증금'] * 1.2
    
    train1.loc[(train1['단지코드']==code) & (train1['임대건물구분']=='상가'), '임대료']\
    = train1.loc[(train1['단지코드']==code) & (train1['임대건물구분']=='상가')]['임대료'] * 8

In [27]:
## 결측치 확인
print((train1[train1['임대건물구분']=='아파트']['임대료'] == '-').sum())
print(train1[train1['임대건물구분']=='아파트']['임대료'].isna().sum())
print((train1[train1['임대건물구분']=='아파트']['임대료'] == 0).sum())
print((train1[train1['임대건물구분']=='아파트']['임대보증금'] == 0).sum())

print((train1[train1['임대건물구분']=='상가']['임대료'] == '-').sum())
print(train1[train1['임대건물구분']=='상가']['임대료'].isna().sum())
print((train1[train1['임대건물구분']=='상가']['임대료'] == 0).sum())
print((train1[train1['임대건물구분']=='상가']['임대보증금'] == 0).sum())

0
0
0
0
0
0
0
0

### test

In [28]:
## 결측치가 포함된 단지코드의 단위면적당 임대료/임대보증금과 전용면적을 곱한 값을 기존의 임대보증금과 임대료의 수치에 덮어씌움
for code, value in test_rent.items():
    test1.loc[test1['단지코드']==code, '임대보증금'] = value[0] * test1.loc[test1['단지코드']==code]['전용면적']
    test1.loc[test1['단지코드']==code, '임대료'] = value[1] * test1.loc[test1['단지코드']==code]['전용면적']

In [29]:
## 상가는 아파트와 시세가 다르기 때문에 같은 면적 대비 임대보증금을 1.2배 해주고 임대료를 10배 해준다.
for code in test_rent.keys():
    test1.loc[(test1['단지코드']==code) & (test1['임대건물구분']=='상가'), '임대보증금']\
    = test1.loc[(test1['단지코드']==code) & (test1['임대건물구분']=='상가')]['임대보증금'] * 1.2
    
    test1.loc[(test1['단지코드']==code) & (test1['임대건물구분']=='상가'), '임대료']\
    = test1.loc[(test1['단지코드']==code) & (test1['임대건물구분']=='상가')]['임대료'] * 8

In [30]:
## 결측치 확인
print((test1[test1['임대건물구분']=='아파트']['임대료'] == '-').sum())
print(test1[test1['임대건물구분']=='아파트']['임대료'].isna().sum())
print((test1[test1['임대건물구분']=='아파트']['임대료'] == 0).sum())
print((test1[test1['임대건물구분']=='아파트']['임대보증금'] == 0).sum())

print((test1[test1['임대건물구분']=='상가']['임대료'] == '-').sum())
print(test1[test1['임대건물구분']=='상가']['임대료'].isna().sum())
print((test1[test1['임대건물구분']=='상가']['임대료'] == 0).sum())
print((test1[test1['임대건물구분']=='상가']['임대보증금'] == 0).sum())

0
0
0
0
0
0
0
0

#### 지하철 역 결측치가 있는 단지코드 출력

In [75]:
train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]['단지코드'].value_counts()

C1874    30
C1616    22
C1875    22
C2258    20
C1004    19
C1704    17
C1983    15
C1350    13
C2583    11
C2644     7
C2100     6
C1068     6
C1312     4
C1005     3
C1424     3
C1175     3
C2156     3
C2216     2
C2520     1
Name: 단지코드, dtype: int64

#### 위의 단지코드에는 지하철 역 값이 전혀 없음.

1. 아예 삭제한다.

2. 최빈값인 0을 대입한다.

3. 결측치가 있는 각 단지의 등록차량수를 평균내어 지하철 역 값에 따른 등록차량수의 평균과 비교해 제일 비슷한 값으로 대입한다.

In [31]:
## 3 -> 1개 단지, 2 -> 5개 단지, 1 -> 38개 ..
train1.groupby('도보 10분거리 내 지하철역 수(환승노선 수 반영)')['등록차량수'].mean(), train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].value_counts()

(도보 10분거리 내 지하철역 수(환승노선 수 반영)
 0.0    587.101664
 1.0    441.430000
 2.0    689.363636
 3.0    166.000000
 Name: 등록차량수, dtype: float64,
 0.0    2223
 1.0     400
 2.0      33
 3.0       6
 Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: int64)

In [23]:
## 지하철역의 결측치가 존재하는 단지코드의 등록차량수 출력
train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]\
.drop_duplicates(['단지코드'], keep='first')[['단지코드', '등록차량수']]

       단지코드   등록차량수
86    C1312   359.0
90    C1874    62.0
136   C1424   179.0
139   C2100   671.0
163   C2520   386.0
168   C1616    98.0
190   C1704   131.0
207   C2258    78.0
339   C1068   510.0
345   C1983   253.0
612   C2216   149.0
632   C2644   177.0
753   C1005   376.0
756   C1004    93.0
775   C1875   209.0
797   C2156   204.0
831   C1175   430.0
2242  C2583   982.0
2284  C1350  2315.0

#### 지하철 역 수에 대해 전체적으로 정보를 출력

In [19]:
print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==0]['등록차량수'].describe())
print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==0]['단지코드'].value_counts())
print(len(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==0]['단지코드'].value_counts()))
print()

print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==1]['등록차량수'].describe())
print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==1]['단지코드'].value_counts())
print(len(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==1]['단지코드'].value_counts()))
print()

print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==2]['등록차량수'].describe())
print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==2]['단지코드'].value_counts())
print(len(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==2]['단지코드'].value_counts()))
print()

print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==3]['등록차량수'].describe())
print(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==3]['단지코드'].value_counts())
print(len(train1[train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)']==3]['단지코드'].value_counts()))
print()

count    2223.000000
mean      587.101664
std       417.936131
min        16.000000
25%       293.000000
50%       509.000000
75%       787.000000
max      2550.000000
Name: 등록차량수, dtype: float64
C2132    47
C1790    33
C2597    32
C2289    24
C2310    23
         ..
C2490     2
C1768     2
C2340     1
C2437     1
C2188     1
Name: 단지코드, Length: 348, dtype: int64
348

count     400.000000
mean      441.430000
std       389.544551
min        13.000000
25%       132.000000
50%       313.000000
75%       649.000000
max      1668.000000
Name: 등록차량수, dtype: float64
C1439    48
C1859    40
C2034    29
C1109    22
C2038    20
C2135    20
C2621    18
C1177    16
C2393    13
C1652    12
C2659    11
C1407    11
C1338    10
C1689    10
C1343     9
C2173     8
C1129     8
C2420     7
C2596     7
C1743     7
C1032     6
C2357     6
C1945     6
C1911     6
C1706     5
C1783     5
C1585     4
C1916     4
C1663     4
C2319     4
C2561     4
C1143     3
C1613     3
C2020     3
C2059     3
C2470     3
C1155     3
C1497     2
Name: 단지코드, dtype: int64
38

count      33.000000
mean      689.363636
std       218.308672
min       508.000000
25%       548.000000
50%       559.000000
75%       757.000000
max      1077.000000
Name: 등록차량수, dtype: float64
C2008    10
C1122     7
C2453     7
C2042     5
C1757     4
Name: 단지코드, dtype: int64
5

count      6.0
mean     166.0
std        0.0
min      166.0
25%      166.0
50%      166.0
75%      166.0
max      166.0
Name: 등록차량수, dtype: float64
C1987    6
Name: 단지코드, dtype: int64
1

-> 아무래도 표본이 0과 1에 치중이 되어있다보니 등록차량수는 정확한 지표로 사용하기 힘들 것 같다.

-> 일반적으로 지하철 역이 주변에 3개나 있으면 차량을 많이 가지고 있지 않을 것이다.

or 역이 주변에 많기 때문에 집값도 비쌀 것이고 그만큼 차도 많을 것이다.

#### 그냥 0으로 몰아넣자

In [31]:
train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = \
train1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

test1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = \
test1['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

train1.info(), test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         2869 non-null   int64
 1   단지코드                          2869 non-null   object
 2   총세대수                          2869 non-null   int64
 3   임대건물구분                        2869 non-null   object
 4   지역                            2869 non-null   object
 5   공급유형                          2869 non-null   object
 6   전용면적                          2869 non-null   float64
 7   전용면적별세대수                      2869 non-null   int64
 8   공가수                           2869 non-null   float64
 9   자격유형                          2869 non-null   object
 10  임대보증금                         2869 non-null   float64
 11  임대료                           2869 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2869 non-null   float64
 13  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 14  단지내주차면수                       2869 non-null   float64
 15  등록차량수                         2869 non-null   float64
dtypes: float64(8), int64(3), object(5)
memory usage: 358.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         1022 non-null   int64
 1   단지코드                          1022 non-null   object
 2   총세대수                          1022 non-null   int64
 3   임대건물구분                        1022 non-null   object
 4   지역                            1022 non-null   object
 5   공급유형                          1022 non-null   object
 6   전용면적                          1022 non-null   float64
 7   전용면적별세대수                      1022 non-null   int64
 8   공가수                           1022 non-null   float64
 9   자격유형                          1020 non-null   object
 10  임대보증금                         1022 non-null   float64
 11  임대료                           1022 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  1022 non-null   float64
 13  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 14  단지내주차면수                       1022 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 119.9+ KB

(None, None)

In [33]:
test1[test1['자격유형'].isna()]

## 196 경상남도 국민임대 = A
## 258 강원도 영구임대 = C

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
196,196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000.0,37470.0,0.0,2.0,840.0
258,258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000.0,44770.0,0.0,2.0,173.0

In [32]:
test1.iloc[196, 9] = 'A'
test1.iloc[258, 9] = 'C'

test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         1022 non-null   int64
 1   단지코드                          1022 non-null   object
 2   총세대수                          1022 non-null   int64
 3   임대건물구분                        1022 non-null   object
 4   지역                            1022 non-null   object
 5   공급유형                          1022 non-null   object
 6   전용면적                          1022 non-null   float64
 7   전용면적별세대수                      1022 non-null   int64
 8   공가수                           1022 non-null   float64
 9   자격유형                          1022 non-null   object
 10  임대보증금                         1022 non-null   float64
 11  임대료                           1022 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  1022 non-null   float64
 13  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 14  단지내주차면수                       1022 non-null   float64
dtypes: float64(7), int64(3), object(5)
memory usage: 119.9+ KB

In [74]:
pd.set_option('display.max_rows', 30)
# test1

### 총 세대수 - 전용면적별세대수 = 분양 완료

In [33]:
sede_num = train1.groupby('단지코드')['전용면적별세대수'].sum()

for idx, code in enumerate(sede_num.index):
    train1.loc[train1['단지코드']==code, '분양완료'] = train1.loc[train1['단지코드']==code]['총세대수'] - sede_num.values[idx]
    
train1

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,분양완료
0,8,C2515,545,아파트,경상남도,국민임대,33.48,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0,0.0
1,9,C2515,545,아파트,경상남도,국민임대,39.60,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0,0.0
2,10,C2515,545,아파트,경상남도,국민임대,39.60,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0,0.0
3,11,C2515,545,아파트,경상남도,국민임대,46.90,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0,0.0
4,12,C2515,545,아파트,경상남도,국민임대,46.90,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0,0.0
2865,2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0,0.0
2866,2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0,0.0
2867,2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0,0.0
2868,2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0,0.0

In [33]:
## train
train1.loc[(train1['분양완료']>=1) & (train1['분양완료']<=10), '분양완료'] = 1
train1.loc[(train1['분양완료']>=11) & (train1['분양완료']<=100), '분양완료'] = 2
train1.loc[(train1['분양완료']>=101), '분양완료'] = 3

train1['분양완료'].value_counts()

0.0    2658
1.0     155
3.0      47
2.0       9
Name: 분양완료, dtype: int64

In [34]:
sede_num = test1.groupby('단지코드')['전용면적별세대수'].sum()

for idx, code in enumerate(sede_num.index):
    test1.loc[test1['단지코드']==code, '분양완료'] = test1.loc[test1['단지코드']==code]['총세대수'] - sede_num.values[idx]

In [37]:
## test
test1.loc[(test1['분양완료']>=1) & (test1['분양완료']<=10), '분양완료'] = 1
test1.loc[(test1['분양완료']>=11) & (test1['분양완료']<=100), '분양완료'] = 2
test1.loc[(test1['분양완료']>=101), '분양완료'] = 3

test1['분양완료'].value_counts()

0.0    871
1.0     98
2.0     49
3.0      4
Name: 분양완료, dtype: int64

### 전용면적 10단위로 나누기, 100이상은 100단위

In [73]:
train1['전용면적'].sort_values(ascending=False).head(50)

292     583.40
456     583.40
511     583.40
189     583.40
560     583.40
559     407.97
608     404.65
607     404.65
430     401.50
132     317.17
488     248.56
723     248.56
226     240.22
252     240.22
774     240.22
796     240.22
379     240.22
408     240.22
650     137.49
813     137.49
680     137.49
162     137.49
206     126.65
740     126.65
359     126.65
291     126.65
830     126.65
188     109.11
2601     84.99
2474     84.99
1941     84.99
2607     84.99
2150     84.98
2710     84.98
2718     84.98
2390     84.98
2021     84.98
2721     84.98
2722     84.98
2573     84.98
2719     84.97
2020     84.97
2720     84.97
2709     84.97
1940     84.97
2290     84.97
2389     84.97
2388     84.97
2301     84.97
2289     84.96
Name: 전용면적, dtype: float64

In [38]:
train1.loc[(train1['전용면적']>=10) & (train1['전용면적']<20), '전용면적'] = 10
train1.loc[(train1['전용면적']>=20) & (train1['전용면적']<30), '전용면적'] = 20
train1.loc[(train1['전용면적']>=30) & (train1['전용면적']<40), '전용면적'] = 30
train1.loc[(train1['전용면적']>=40) & (train1['전용면적']<50), '전용면적'] = 40
train1.loc[(train1['전용면적']>=50) & (train1['전용면적']<60), '전용면적'] = 50
train1.loc[(train1['전용면적']>=60) & (train1['전용면적']<70), '전용면적'] = 60
train1.loc[(train1['전용면적']>=70) & (train1['전용면적']<80), '전용면적'] = 70
train1.loc[(train1['전용면적']>=80) & (train1['전용면적']<90), '전용면적'] = 80
train1.loc[(train1['전용면적']>=90) & (train1['전용면적']<100), '전용면적'] = 90
train1.loc[(train1['전용면적']>=100) & (train1['전용면적']<200), '전용면적'] = 100
train1.loc[(train1['전용면적']>=200) & (train1['전용면적']<300), '전용면적'] = 150
train1.loc[(train1['전용면적']>=300) & (train1['전용면적']<400), '전용면적'] = 200
train1.loc[(train1['전용면적']>=400) & (train1['전용면적']<500), '전용면적'] = 250
train1.loc[(train1['전용면적']>=500), '전용면적'] = 300

train1['전용면적'].value_counts()

30.0     917
40.0     672
50.0     571
20.0     474
10.0      79
80.0      60
70.0      52
60.0      16
100.0     10
150.0      8
300.0      5
250.0      4
200.0      1
Name: 전용면적, dtype: int64

In [89]:
test1['전용면적'].sort_values(ascending=False).head(50)

158    583.40
99     583.40
157    404.65
222    401.50
192    401.50
257    253.71
288    248.56
256    248.56
332    240.22
735     84.94
822     84.94
823     84.94
827     84.91
829     84.91
734     84.91
828     84.91
821     84.89
843     84.88
820     84.86
786     84.84
826     84.76
819     84.69
842     84.64
287     82.92
98      75.98
156     75.98
841     75.90
732     74.98
733     74.95
785     74.95
824     74.93
825     74.93
731     74.90
784     74.89
818     74.82
191     61.89
221     61.89
578     59.99
730     59.99
448     59.99
725     59.99
527     59.99
226     59.99
728     59.99
370     59.99
761     59.97
25      59.96
729     59.95
715     59.95
591     59.94
Name: 전용면적, dtype: float64

In [39]:
test1.loc[test1['전용면적']<20, '전용면적'] = 10
test1.loc[(test1['전용면적']>=20) & (test1['전용면적']<30), '전용면적'] = 20
test1.loc[(test1['전용면적']>=30) & (test1['전용면적']<40), '전용면적'] = 30
test1.loc[(test1['전용면적']>=40) & (test1['전용면적']<50), '전용면적'] = 40
test1.loc[(test1['전용면적']>=50) & (test1['전용면적']<60), '전용면적'] = 50
test1.loc[(test1['전용면적']>=60) & (test1['전용면적']<70), '전용면적'] = 60
test1.loc[(test1['전용면적']>=70) & (test1['전용면적']<80), '전용면적'] = 70
test1.loc[(test1['전용면적']>=80) & (test1['전용면적']<90), '전용면적'] = 80
test1.loc[(test1['전용면적']>=90) & (test1['전용면적']<100), '전용면적'] = 90
test1.loc[(test1['전용면적']>=100) & (test1['전용면적']<300), '전용면적'] = 100
test1.loc[(test1['전용면적']>=300), '전용면적'] = 200

test1['전용면적'].value_counts()

30.0     313
40.0     225
50.0     204
20.0     192
10.0      51
80.0      15
70.0      11
200.0      5
100.0      4
60.0       2
Name: 전용면적, dtype: int64

### 공가수 30이상 데이터 병합

In [45]:
train1.loc[(train1['공가수']>=30) & (train1['공가수']<40), '공가수'] = 35
train1.loc[(train1['공가수']>=40) & (train1['공가수']<50), '공가수'] = 45
train1.loc[train1['공가수']>=50, '공가수'] = 55

test1.loc[(test1['공가수']>=30) & (test1['공가수']<40), '공가수'] = 35
test1.loc[(test1['공가수']>=40) & (test1['공가수']<50), '공가수'] = 45
test1.loc[test1['공가수']>=50, '공가수'] = 55

train1['공가수'].value_counts()

2.0     254
1.0     245
7.0     230
13.0    222
35.0    141
3.0     110
4.0     107
10.0    106
21.0    104
9.0      98
15.0     96
16.0     94
0.0      93
14.0     84
29.0     81
5.0      78
17.0     70
8.0      58
25.0     56
45.0     55
22.0     54
28.0     49
20.0     48
26.0     47
19.0     47
6.0      44
23.0     37
12.0     36
11.0     34
18.0     32
24.0     31
27.0     20
55.0      8
Name: 공가수, dtype: int64

In [52]:
train1.loc[train1['도보 10분거리 내 버스정류장 수']>=10, '도보 10분거리 내 버스정류장 수'] = 12
test1.loc[test1['도보 10분거리 내 버스정류장 수']>=10, '도보 10분거리 내 버스정류장 수'] = 12

train1.loc[train1['도보 10분거리 내 버스정류장 수']==0.0, '도보 10분거리 내 버스정류장 수'] = 2

train1['도보 10분거리 내 버스정류장 수'].value_counts(), test1['도보 10분거리 내 버스정류장 수'].value_counts()

(2.0     776
 3.0     716
 4.0     485
 1.0     270
 5.0     162
 6.0     153
 12.0    143
 8.0      99
 7.0      65
 Name: 도보 10분거리 내 버스정류장 수, dtype: int64,
 2.0     252
 3.0     166
 4.0     134
 1.0     117
 5.0     112
 6.0      85
 12.0     75
 7.0      48
 8.0      33
 Name: 도보 10분거리 내 버스정류장 수, dtype: int64)

In [55]:
test1.head(3)

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,분양완료,건물_아파트,건물_상가
0,0,C1072,754,아파트,경기도,국민임대,30.0,116,14.0,H,22830000.0,189840.0,0.0,2.0,683.0,0.0,1.0,0.0
1,1,C1072,754,아파트,경기도,국민임대,40.0,30,14.0,A,36048000.0,249930.0,0.0,2.0,683.0,0.0,1.0,0.0
2,2,C1072,754,아파트,경기도,국민임대,40.0,112,14.0,H,36048000.0,249930.0,0.0,2.0,683.0,0.0,1.0,0.0

### One-Hot Encoding
임대건물구분

In [62]:
train1['임대건물구분'].value_counts()

1    2307
0     562
Name: 임대건물구분, dtype: int64

In [43]:
train1.loc[train1['임대건물구분']=='아파트', '건물_아파트'] = 1
train1.loc[train1['임대건물구분']=='상가', '건물_아파트'] = 0

train1.loc[train1['임대건물구분']=='아파트', '건물_상가'] = 0
train1.loc[train1['임대건물구분']=='상가', '건물_상가'] = 1

train1

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,분양완료,건물_아파트,건물_상가
0,8,C2515,545,아파트,경상남도,국민임대,30.0,276,17.0,A,9216000.0,82940.0,0.0,3.0,624.0,205.0,0.0,1.0,0.0
1,9,C2515,545,아파트,경상남도,국민임대,30.0,60,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0,0.0,1.0,0.0
2,10,C2515,545,아파트,경상남도,국민임대,30.0,20,17.0,A,12672000.0,107130.0,0.0,3.0,624.0,205.0,0.0,1.0,0.0
3,11,C2515,545,아파트,경상남도,국민임대,40.0,38,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0,0.0,1.0,0.0
4,12,C2515,545,아파트,경상남도,국민임대,40.0,19,17.0,A,18433000.0,149760.0,0.0,3.0,624.0,205.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2864,2947,C2532,239,아파트,강원도,국민임대,40.0,19,7.0,A,11346000.0,116090.0,0.0,1.0,166.0,146.0,0.0,1.0,0.0
2865,2948,C2532,239,아파트,강원도,국민임대,50.0,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0,0.0,1.0,0.0
2866,2949,C2532,239,아파트,강원도,국민임대,50.0,34,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0,0.0,1.0,0.0
2867,2950,C2532,239,아파트,강원도,국민임대,50.0,114,7.0,A,14005000.0,142310.0,0.0,1.0,166.0,146.0,0.0,1.0,0.0
2868,2951,C2532,239,아파트,강원도,국민임대,50.0,19,7.0,A,14830000.0,151030.0,0.0,1.0,166.0,146.0,0.0,1.0,0.0

In [42]:
test1.loc[test1['임대건물구분']=='아파트', '건물_아파트'] = 1
test1.loc[test1['임대건물구분']=='상가', '건물_아파트'] = 0

test1.loc[test1['임대건물구분']=='아파트', '건물_상가'] = 0
test1.loc[test1['임대건물구분']=='상가', '건물_상가'] = 1

test1

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,분양완료,건물_아파트,건물_상가
0,0,C1072,754,아파트,경기도,국민임대,30.0,116,14.0,H,2.283000e+07,189840.00000,0.0,2.0,683.0,0.0,1.0,0.0
1,1,C1072,754,아파트,경기도,국민임대,40.0,30,14.0,A,3.604800e+07,249930.00000,0.0,2.0,683.0,0.0,1.0,0.0
2,2,C1072,754,아파트,경기도,국민임대,40.0,112,14.0,H,3.604800e+07,249930.00000,0.0,2.0,683.0,0.0,1.0,0.0
3,3,C1072,754,아파트,경기도,국민임대,40.0,120,14.0,H,3.604800e+07,249930.00000,0.0,2.0,683.0,0.0,1.0,0.0
4,4,C1072,754,아파트,경기도,국민임대,50.0,60,14.0,H,4.349700e+07,296780.00000,0.0,2.0,683.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017,1017,C1267,675,아파트,경상남도,행복주택,30.0,126,38.0,L,1.749390e+07,143525.26025,0.0,1.0,467.0,1.0,1.0,0.0
1018,1018,C2189,382,아파트,전라북도,국민임대,20.0,96,45.0,H,6.872000e+06,106400.00000,0.0,2.0,300.0,1.0,1.0,0.0
1019,1019,C2189,382,아파트,전라북도,국민임대,20.0,20,45.0,H,6.872000e+06,106400.00000,0.0,2.0,300.0,1.0,1.0,0.0
1020,1020,C2189,382,아파트,전라북도,국민임대,30.0,202,45.0,H,1.341000e+07,144600.00000,0.0,2.0,300.0,1.0,1.0,0.0
1021,1021,C2189,382,아파트,전라북도,국민임대,40.0,60,45.0,H,1.868900e+07,166500.00000,0.0,2.0,300.0,1.0,1.0,0.0

### LabelEncoding

등록 차량수와 연관이 깊어보이는 파라미터만 사용하자

In [26]:
print(train1['임대건물구분'].value_counts())
print(train1.groupby('임대건물구분')['등록차량수'].mean(), '\n')

print(train1['지역'].value_counts())
print(train1.groupby('지역')['등록차량수'].mean(), '\n')

print(train1['공급유형'].value_counts())
print(train1.groupby('공급유형')['등록차량수'].mean(), '\n')

print(train1['자격유형'].value_counts())
print(train1.groupby('자격유형')['등록차량수'].mean(), '\n')

## 임대건물구분, 지역, 자격유형이 적절해보임. 공급유형은 counting이 적은 범주의 수치가 
## 높게나오는 경향이 있어 뭔가 정확해보이지 않음

아파트    2307
상가      562
Name: 임대건물구분, dtype: int64
임대건물구분
상가     158.393238
아파트    645.556567
Name: 등록차량수, dtype: float64

경기도        595
경상남도       363
부산광역시      328
대전광역시      266
강원도        187
충청북도       163
충청남도       158
전라남도       147
광주광역시      141
경상북도       111
전라북도       109
대구광역시      102
제주특별자치도     91
서울특별시       50
울산광역시       34
세종특별자치시     24
Name: 지역, dtype: int64
지역
강원도         388.245989
경기도         797.400000
경상남도        409.685950
경상북도        613.855856
광주광역시       731.858156
대구광역시       873.519608
대전광역시       535.394737
부산광역시       316.545732
서울특별시       682.780000
세종특별자치시    1785.708333
울산광역시       337.117647
전라남도        509.680272
전라북도        482.422018
제주특별자치도     333.219780
충청남도        239.158228
충청북도        563.184049
Name: 등록차량수, dtype: float64

국민임대         1727
임대상가          562
행복주택          202
공공임대(10년)     175
영구임대          152
공공임대(50년)      31
공공분양            7
공공임대(분납)        7
공공임대(5년)        3
장기전세            3
Name: 공급유형, dtype: int64
공급유형
공공분양         2315.000000
공공임대(10년)    1209.142857
공공임대(50년)     314.161290
공공임대(5년)      887.000000
공공임대(분납)     1283.000000
국민임대          642.117545
영구임대          380.138158
임대상가          158.393238
장기전세          645.000000
행복주택          353.762376
Name: 등록차량수, dtype: float64

A    1729
D     569
H     155
J     103
C      95
I      49
E      37
L      33
K      33
N      30
B      21
G       9
F       3
M       2
O       1
Name: 자격유형, dtype: int64
자격유형
A    671.633314
B    561.190476
C    172.126316
D    184.924429
E    666.135135
F    359.000000
G    748.555556
H    914.141935
I    777.346939
J    289.776699
K    332.060606
L    277.545455
M    416.000000
N    674.933333
O    416.000000
Name: 등록차량수, dtype: float64

```
['상가' '아파트']
['상가' '아파트']
['강원도' '경기도' '경상남도' '경상북도' '광주광역시' '대구광역시' '대전광역시' '부산광역시' '서울특별시'
 '세종특별자치시' '울산광역시' '전라남도' '전라북도' '제주특별자치도' '충청남도' '충청북도']
['강원도' '경기도' '경상남도' '경상북도' '광주광역시' '대구광역시' '대전광역시' '부산광역시' '세종특별자치시'
 '울산광역시' '전라남도' '전라북도' '제주특별자치도' '충청남도' '충청북도']
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']
['A' 'C' 'D' 'E' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N']
['공공분양' '공공임대(10년)' '공공임대(50년)' '공공임대(5년)' '공공임대(분납)' '국민임대' '영구임대' '임대상가'
 '장기전세' '행복주택']
['공공임대(10년)' '공공임대(50년)' '공공임대(분납)' '국민임대' '영구임대' '임대상가' '행복주택']
```

train dataset과 test dataset간의 차이가 있어서 같은 label로 인코딩이 되지 않아 fit을 한번만 사용해주어야 함.

In [35]:
## 우선 모두 진행
from sklearn.preprocessing import LabelEncoder

cate = ['임대건물구분', '지역', '자격유형', '공급유형']

encoder = LabelEncoder()

for one in cate:
    encoder.fit(train1[one])
    train1[one] = encoder.transform(train1[one])
    print(encoder.classes_)
    
    test1[one] = encoder.transform(test1[one])
    print(encoder.classes_)

['상가' '아파트']
['상가' '아파트']
['강원도' '경기도' '경상남도' '경상북도' '광주광역시' '대구광역시' '대전광역시' '부산광역시' '서울특별시'
 '세종특별자치시' '울산광역시' '전라남도' '전라북도' '제주특별자치도' '충청남도' '충청북도']
['강원도' '경기도' '경상남도' '경상북도' '광주광역시' '대구광역시' '대전광역시' '부산광역시' '서울특별시'
 '세종특별자치시' '울산광역시' '전라남도' '전라북도' '제주특별자치도' '충청남도' '충청북도']
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']
['공공분양' '공공임대(10년)' '공공임대(50년)' '공공임대(5년)' '공공임대(분납)' '국민임대' '영구임대' '임대상가'
 '장기전세' '행복주택']
['공공분양' '공공임대(10년)' '공공임대(50년)' '공공임대(5년)' '공공임대(분납)' '국민임대' '영구임대' '임대상가'
 '장기전세' '행복주택']

In [36]:
train1.info(), test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2869 entries, 0 to 2868
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         2869 non-null   int64
 1   단지코드                          2869 non-null   object
 2   총세대수                          2869 non-null   int64
 3   임대건물구분                        2869 non-null   int32
 4   지역                            2869 non-null   int32
 5   공급유형                          2869 non-null   int32
 6   전용면적                          2869 non-null   float64
 7   전용면적별세대수                      2869 non-null   int64
 8   공가수                           2869 non-null   float64
 9   자격유형                          2869 non-null   int32
 10  임대보증금                         2869 non-null   float64
 11  임대료                           2869 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2869 non-null   float64
 13  도보 10분거리 내 버스정류장 수            2869 non-null   float64
 14  단지내주차면수                       2869 non-null   float64
 15  등록차량수                         2869 non-null   float64
 16  분양완료                          2869 non-null   float64
dtypes: float64(9), int32(4), int64(3), object(1)
memory usage: 336.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         1022 non-null   int64
 1   단지코드                          1022 non-null   object
 2   총세대수                          1022 non-null   int64
 3   임대건물구분                        1022 non-null   int32
 4   지역                            1022 non-null   int32
 5   공급유형                          1022 non-null   int32
 6   전용면적                          1022 non-null   float64
 7   전용면적별세대수                      1022 non-null   int64
 8   공가수                           1022 non-null   float64
 9   자격유형                          1022 non-null   int32
 10  임대보증금                         1022 non-null   float64
 11  임대료                           1022 non-null   float64
 12  도보 10분거리 내 지하철역 수(환승노선 수 반영)  1022 non-null   float64
 13  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 14  단지내주차면수                       1022 non-null   float64
 15  분양완료                          1022 non-null   float64
dtypes: float64(8), int32(4), int64(3), object(1)
memory usage: 111.9+ KB

(None, None)

In [129]:
cate = ['임대건물구분', '지역', '자격유형', '공급유형']

for one in cate:
    print(train1[one].value_counts().sort_index())
    print('------------------------------------------------')
    print(test1[one].value_counts().sort_index())
    print('================================================')

0     562
1    2307
Name: 임대건물구분, dtype: int64
------------------------------------------------
0    177
1    831
Name: 임대건물구분, dtype: int64
================================================
0     187
1     595
2     363
3     111
4     141
5     102
6     266
7     328
8      50
9      24
10     34
11    147
12    109
13     91
14    158
15    163
Name: 지역, dtype: int64
------------------------------------------------
0     106
1     251
2      85
3      58
4      46
5      36
6      52
7      88
9      19
10     73
11     37
12     39
13     26
14     41
15     51
Name: 지역, dtype: int64
================================================
0     1729
1       21
2       95
3      569
4       37
5        3
6        9
7      155
8       49
9      103
10      33
11      33
12       2
13      30
14       1
Name: 자격유형, dtype: int64
------------------------------------------------
0     565
2      33
3     180
4      10
6       1
7      92
8       7
9      80
10     16
11     12
12      2
13     10
Name: 자격유형, dtype: int64
================================================
0       7
1     175
2      31
3       3
4       7
5    1727
6     152
7     562
8       3
9     202
Name: 공급유형, dtype: int64
------------------------------------------------
1     35
2     13
4      6
5    614
6     43
7    177
9    120
Name: 공급유형, dtype: int64
================================================

### 수치 정규화

0 ~ 20 사이로 정규화

In [131]:
## 시험삼아
scale_test = train1['임대료'].copy()

scale_test = scale_test.values.reshape(-1, 1)

In [132]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 20))   # 0 ~ 20 사이로 정규화
scaler.fit(scale_test)

test_scaled = scaler.transform(scale_test)

min(test_scaled), max(test_scaled), test_scaled.reshape(-1)

(array([0.]),
 array([20.]),
 array([0.07499791, 0.10236553, 0.10236553, ..., 0.14216681, 0.14216681,
        0.15203227]))

In [43]:
descr = ['공가수', '도보 10분거리 내 버스정류장 수', '단지내주차면수']

for one in descr:
    print(train1[one].describe(), '\n')

count    2869.000000
mean       12.915999
std        10.679931
min         0.000000
25%         4.000000
50%        11.000000
75%        20.000000
max        55.000000
Name: 공가수, dtype: float64

count    2869.000000
mean        3.709655
std         2.676486
min         0.000000
25%         2.000000
50%         3.000000
75%         4.000000
max        20.000000
Name: 도보 10분거리 내 버스정류장 수, dtype: float64

count    2869.000000
mean      591.934472
std       391.292702
min        13.000000
25%       277.000000
50%       500.000000
75%       812.000000
max      1798.000000
Name: 단지내주차면수, dtype: float64

In [79]:
train1['자격유형'].value_counts()

0     1729
3      569
7      155
9      103
2       95
8       49
4       37
11      33
10      33
13      30
1       21
6        9
5        3
12       2
14       1
Name: 자격유형, dtype: int64

In [57]:
from sklearn.preprocessing import MinMaxScaler

scal = ['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', 
        '단지내주차면수', '분양완료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)', '도보 10분거리 내 버스정류장 수']
scaler = MinMaxScaler(feature_range=(0, 1))   # 0 ~ 20 사이로 정규화

for one in scal:
    scale_train = train1[one].values.reshape(-1, 1)
    scale_test = test1[one].values.reshape(-1, 1)
    
    scaler.fit(scale_train)
    train1[one] = scaler.transform(scale_train).reshape(-1)
    test1[one] = scaler.transform(scale_test).reshape(-1)

In [139]:
descr = ['총세대수', '전용면적', '전용면적별세대수', '공가수', '임대보증금', '임대료', '단지내주차면수']

for one in descr:
    print(train1[one].describe(), '\n')
    
print('=============================================')

for one in descr:
    print(test1[one].describe(), '\n')

count    2869.000000
mean        6.779341
std         4.073919
min         0.000000
25%         3.839496
50%         5.892998
75%         8.489378
max        20.000000
Name: 총세대수, dtype: float64

count    2869.000000
mean        1.114314
std         1.123803
min         0.000000
25%         0.682575
50%         0.953783
75%         1.346578
max        20.000000
Name: 전용면적, dtype: float64

count    2869.000000
mean        1.091201
std         1.430124
min         0.000000
25%         0.139485
50%         0.633047
75%         1.512876
max        20.000000
Name: 전용면적별세대수, dtype: float64

count    2869.000000
mean        4.696727
std         3.883611
min         0.000000
25%         1.454545
50%         4.000000
75%         7.272727
max        20.000000
Name: 공가수, dtype: float64

count    2869.000000
mean        0.464067
std         0.557809
min         0.000000
25%         0.192183
50%         0.345649
75%         0.569931
max        20.000000
Name: 임대보증금, dtype: float64

count    2869.000000
mean        0.447943
std         1.097192
min         0.000000
25%         0.116926
50%         0.191607
75%         0.403545
max        20.000000
Name: 임대료, dtype: float64

count    2869.000000
mean        6.486661
std         4.384232
min         0.000000
25%         2.957983
50%         5.456583
75%         8.952381
max        20.000000
Name: 단지내주차면수, dtype: float64

=============================================
count    1008.000000
mean        6.635554
std         4.216428
min         0.385523
25%         3.670338
50%         5.727773
75%         8.929976
max        20.031471
Name: 총세대수, dtype: float64

count    1008.000000
mean        1.092136
std         1.265134
min        -0.093206
25%         0.719366
50%         0.949578
75%         1.219034
max        20.000000
Name: 전용면적, dtype: float64

count    1008.000000
mean        1.073962
std         1.359168
min         0.000000
25%         0.139485
50%         0.633047
75%         1.491416
max        14.377682
Name: 전용면적별세대수, dtype: float64

count    1008.000000
mean        5.683983
std         4.042187
min         0.000000
25%         2.181818
50%         5.818182
75%         8.363636
max        16.363636
Name: 공가수, dtype: float64

count    1008.000000
mean        0.436865
std         0.381348
min        -0.000558
25%         0.182656
50%         0.357907
75%         0.570294
max         3.242392
Name: 임대보증금, dtype: float64

count    1008.000000
mean        0.423126
std         1.258425
min         0.000871
25%         0.115795
50%         0.175621
75%         0.321702
max        19.999300
Name: 임대료, dtype: float64

count    1008.000000
mean        5.979592
std         3.823851
min         0.179272
25%         3.058824
50%         4.985994
75%         7.770308
max        18.857143
Name: 단지내주차면수, dtype: float64

In [63]:
## 전용면적이 (-)인 곳이 있네? 삭제
test1 = test1.loc[test1['임대보증금']>0, :].reset_index()
test1.loc[test1['임대보증금']<0, :]

Empty DataFrame
Columns: [level_0, index, 단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수, 단지내주차면수, 분양완료, 건물_아파트, 건물_상가]
Index: []

In [81]:
test1.loc[test1['단지코드']=='C1812', :]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,분양완료,건물_아파트,건물_상가
231,C1812,0.391424,1,10,6,0.034483,0.399142,0.4,2,0.001425,0.006362,0.0,0.272727,0.096359,0.666667,1.0,0.0
232,C1812,0.391424,1,10,6,0.068966,0.127682,0.4,2,0.002054,0.007910,0.0,0.272727,0.096359,0.666667,1.0,0.0
233,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.000565,0.018553,0.0,0.272727,0.096359,0.666667,0.0,1.0
234,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.000664,0.019366,0.0,0.272727,0.096359,0.666667,0.0,1.0
235,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.000790,0.020398,0.0,0.272727,0.096359,0.666667,0.0,1.0
236,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.000790,0.020398,0.0,0.272727,0.096359,0.666667,0.0,1.0
237,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.000790,0.020398,0.0,0.272727,0.096359,0.666667,0.0,1.0
238,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.000790,0.020398,0.0,0.272727,0.096359,0.666667,0.0,1.0
239,C1812,0.391424,0,10,7,0.000000,0.000000,0.4,3,0.001724,0.028061,0.0,0.272727,0.096359,0.666667,0.0,1.0
240,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.002437,0.033909,0.0,0.272727,0.096359,0.666667,0.0,1.0
241,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.002505,0.034472,0.0,0.272727,0.096359,0.666667,0.0,1.0
242,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
243,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
244,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
245,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
246,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
247,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
248,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
249,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
250,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003363,0.041509,0.0,0.272727,0.096359,0.666667,0.0,1.0
251,C1812,0.391424,0,10,7,0.034483,0.000000,0.4,3,0.003447,0.042197,0.0,0.272727,0.096359,0.666667,0.0,1.0
252,C1812,0.391424,0,10,7,0.103448,0.000000,0.4,3,0.006146,0.064340,0.0,0.272727,0.096359,0.666667,0.0,1.0
253,C1812,0.391424,0,10,7,0.137931,0.000000,0.4,3,0.008590,0.084388,0.0,0.272727,0.096359,0.666667,0.0,1.0
254,C1812,0.391424,0,10,7,0.137931,0.000000,0.4,3,0.008590,0.084388,0.0,0.272727,0.096359,0.666667,0.0,1.0
255,C1812,0.391424,0,10,7,0.310345,0.000000,0.4,3,0.045452,0.386807,0.0,0.272727,0.096359,0.666667,0.0,1.0
256,C1812,0.391424,0,10,7,0.310345,0.000000,0.4,3,0.046433,0.394860,0.0,0.272727,0.096359,0.666667,0.0,1.0

### 여기까지 전처리한 부분 우선 저장

In [37]:
train1.columns

Index(['index', '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수',
       '공가수', '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수', '분양완료'],
      dtype='object')

In [38]:
test1.columns

Index(['index', '단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수',
       '공가수', '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '분양완료'],
      dtype='object')

In [39]:
train1.drop('index', axis=1, inplace=True)
test1.drop('index', axis=1, inplace=True)

train1.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수',
       '공가수', '자격유형', '임대보증금', '임대료', '지하철',
       '버스정류장', '단지내주차면수', '등록차량수', '분양완료']

test1.columns = ['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수',
       '공가수', '자격유형', '임대보증금', '임대료', '지하철',
       '버스정류장', '단지내주차면수', '분양완료']

In [85]:
train1.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스정류장,단지내주차면수,등록차량수,분양완료,건물_아파트,건물_상가
0,C2515,0.20417,1,2,5,0.068966,0.147532,0.309091,0,0.005946,0.007507,0.0,0.181818,0.342297,205.0,0.0,1.0,0.0
1,C2515,0.20417,1,2,5,0.068966,0.031652,0.309091,0,0.008899,0.010246,0.0,0.181818,0.342297,205.0,0.0,1.0,0.0
2,C2515,0.20417,1,2,5,0.068966,0.010193,0.309091,0,0.008899,0.010246,0.0,0.181818,0.342297,205.0,0.0,1.0,0.0
3,C2515,0.20417,1,2,5,0.103448,0.019850,0.309091,0,0.013820,0.015074,0.0,0.181818,0.342297,205.0,0.0,1.0,0.0
4,C2515,0.20417,1,2,5,0.103448,0.009657,0.309091,0,0.013820,0.015074,0.0,0.181818,0.342297,205.0,0.0,1.0,0.0

In [88]:
test1.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,지하철,버스정류장,단지내주차면수,분양완료,건물_아파트,건물_상가
0,C1072,0.286389,1,1,5,0.068966,0.061695,0.254545,7,0.017576,0.019613,0.0,0.090909,0.37535,0.0,1.0,0.0
1,C1072,0.286389,1,1,5,0.103448,0.015558,0.254545,0,0.028868,0.026417,0.0,0.090909,0.37535,0.0,1.0,0.0
2,C1072,0.286389,1,1,5,0.103448,0.059549,0.254545,7,0.028868,0.026417,0.0,0.090909,0.37535,0.0,1.0,0.0
3,C1072,0.286389,1,1,5,0.103448,0.063841,0.254545,7,0.028868,0.026417,0.0,0.090909,0.37535,0.0,1.0,0.0
4,C1072,0.286389,1,1,5,0.137931,0.031652,0.254545,7,0.035231,0.031723,0.0,0.090909,0.37535,0.0,1.0,0.0

In [40]:
train1.to_csv('parking_data_preprocessing_train_07_19.csv', index=False)
test1.to_csv('parking_data_preprocessing_test_07_19.csv', index=False)

import os
print(os.listdir(os.getcwd()))

['.ipynb_checkpoints', '07_17_first_submit.csv', '07_17_second_submit.csv', '07_17_third_submit.csv', '07_18_first_submit.csv', '07_18_second_submit.csv', '07_18_third_submit.csv', '07_19_first_submit.csv', 'CSV', 'parking_data_preprocessing_test_07_17.csv', 'parking_data_preprocessing_test_07_18.csv', 'parking_data_preprocessing_test_07_19.csv', 'parking_data_preprocessing_train_07_17.csv', 'parking_data_preprocessing_train_07_18.csv', 'parking_data_preprocessing_train_07_19.csv', 'Parking_demand_07_12(1).ipynb', 'Parking_demand_07_12(2).ipynb', 'Parking_demand_07_14.ipynb', 'Parking_demand_07_16.ipynb', 'Parking_demand_07_17.ipynb', 'Parking_demand_07_18.ipynb', 'Parking_demand_07_19.ipynb', 'Parking_demand_data_error.ipynb', 'second_rf_0712.csv']

In [66]:
train.describe()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
count,2952.000000,2952.000000,2952.000000,2952.000000,2741.000000,2948.000000,2952.000000,2952.000000
mean,886.661247,44.757215,102.747967,12.921070,0.176578,3.695726,601.668360,559.768293
std,513.540168,31.874280,132.640159,10.778831,0.427408,2.644665,396.407072,433.375027
min,26.000000,12.620000,1.000000,0.000000,0.000000,0.000000,13.000000,13.000000
25%,513.500000,32.100000,14.000000,4.000000,0.000000,2.000000,279.250000,220.000000
50%,779.000000,39.930000,60.000000,11.000000,0.000000,3.000000,517.000000,487.000000
75%,1106.000000,51.562500,144.000000,20.000000,0.000000,4.000000,823.000000,770.000000
max,2568.000000,583.400000,1865.000000,55.000000,3.000000,20.000000,1798.000000,2550.000000

In [68]:
test[test['단지코드']=='C1812']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
231,C1812,1021,아파트,울산광역시,영구임대,26.37,745,22.0,C,3922000,72830,0.0,4.0,185.0
232,C1812,1021,아파트,울산광역시,영구임대,31.32,239,22.0,C,4659000,86500,0.0,4.0,185.0
233,C1812,1021,상가,울산광역시,임대상가,9.96,1,22.0,D,NaN,NaN,0.0,4.0,185.0
234,C1812,1021,상가,울산광역시,임대상가,13.07,1,22.0,D,NaN,NaN,0.0,4.0,185.0
235,C1812,1021,상가,울산광역시,임대상가,13.59,1,22.0,D,NaN,NaN,0.0,4.0,185.0
236,C1812,1021,상가,울산광역시,임대상가,14.25,1,22.0,D,NaN,NaN,0.0,4.0,185.0
237,C1812,1021,상가,울산광역시,임대상가,14.25,1,22.0,D,NaN,NaN,0.0,4.0,185.0
238,C1812,1021,상가,울산광역시,임대상가,14.25,1,22.0,D,NaN,NaN,0.0,4.0,185.0
239,C1812,1021,상가,울산광역시,임대상가,14.25,1,22.0,D,NaN,NaN,0.0,4.0,185.0
240,C1812,1021,상가,울산광역시,임대상가,19.15,1,22.0,D,NaN,NaN,0.0,4.0,185.0
241,C1812,1021,상가,울산광역시,임대상가,22.89,1,22.0,D,NaN,NaN,0.0,4.0,185.0
242,C1812,1021,상가,울산광역시,임대상가,23.25,1,22.0,D,NaN,NaN,0.0,4.0,185.0
243,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
244,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
245,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
246,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
247,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
248,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
249,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
250,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
251,C1812,1021,상가,울산광역시,임대상가,27.75,1,22.0,D,NaN,NaN,0.0,4.0,185.0
252,C1812,1021,상가,울산광역시,임대상가,28.19,1,22.0,D,NaN,NaN,0.0,4.0,185.0
253,C1812,1021,상가,울산광역시,임대상가,42.35,1,22.0,D,NaN,NaN,0.0,4.0,185.0
254,C1812,1021,상가,울산광역시,임대상가,55.17,1,22.0,D,NaN,NaN,0.0,4.0,185.0
255,C1812,1021,상가,울산광역시,임대상가,55.17,1,22.0,D,NaN,NaN,0.0,4.0,185.0
256,C1812,1021,상가,울산광역시,임대상가,248.56,1,22.0,D,NaN,NaN,0.0,4.0,185.0
257,C1812,1021,상가,울산광역시,임대상가,253.71,1,22.0,D,NaN,NaN,0.0,4.0,185.0